.CompletedList {
  margin: 0 auto;

  max-width: 50rem;
}

.CompletedList__Header {
  background-color: steelblue;
  font-size: 2.4rem;
  font-weight: bold;
  color: #fff;
  padding: 1.4rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  text-align: center;
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.CompletedList__Body {
  transition: height 0.3s ease-in-out;

  /* height: 0; */
}

.CompletedList__Show-Button {
  display: block;
  margin: 2rem auto;
  padding: 1.2rem;
  background-color: transparent;
  border: none;
  color: #323c4d;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  width: 15rem;
}

.CompletedList__Show-Button:hover {
  color: #4d5c75;
}
