.EditItem__Input {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: none;
  background-color: #ffffff;
  border-bottom: solid 2px #eeeeee;
  text-align: left;
  font-size: 1.6rem;
  color: grey;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  height: 5rem;
}

.EditItem__Input:focus-visible {
  outline: none;
}

.EditItem__Input:focus,
.EditItem__Input:active {
  border: solid 1px lightblue;
}

.EditItem {
  height: 5rem;
  width: 100%;
}
