.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  padding: 1rem;
}

.Footer__Text {
  margin-bottom: 0.8rem;
}

.Footer__Link {
  color: rgb(53, 99, 138);

  text-decoration: none;
}

.Footer__Link:hover {
  color: steelblue;
  text-decoration: underline;
}

.Footer__Link:visited {
  color: rgb(53, 99, 138);

  text-decoration: none;
}

.Footer__Github {
  font-size: 1.4rem;
  display: block;

  color: steelblue;
}

.Footer__Github--Icon {
  margin-right: 0.5rem;
  color: gray;
}

.Footer__Github-Link {
  text-decoration: none;
  color: steelblue;
}

.Footer__Github-Link:visited {
  color: gray;
}

.Footer__Github-Link:hover {
  color: darkgray;
}
