.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  position: relative;
}

.item {
  width: 50rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: #323a41;
  background-color: #ffffff;
  border-bottom: solid 2px #eeeeee;
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
  height: 5rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.buttons {
  display: flex;
  height: 100%;
  position: absolute;
  left: 50rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.button {
  font-size: 1.4rem;
  height: 100%;
  box-sizing: border-box;
  border: none;
  opacity: 0;

  transition: opacity ease-in 0.1s, width linear 0.3s;
  width: 0;
  height: 100%;
  cursor: pointer;
}

.button-edit {
  background-color: lightblue;
}

.button-delete {
  background-color: rgb(238, 174, 144);
}

.complete-button-container {
  height: 100%;
  position: absolute;
  right: 50rem;
  box-shadow: rgba(0, 0, 0, 0.15) -1.95px 1.95px 2.6px;
}

.button-complete {
  background-color: lightgreen;
}

.item-container:hover .button,
.buttons:hover .button,
.item:hover ~ .complete-button-container .button,
.complete-button-container:hover .button {
  opacity: 1;
  width: 5rem;
}
