.header {
  background-color: steelblue;
  font-size: 2.6rem;
  color: #fff;
  font-weight: 500;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  text-align: center;
}

.list {
  padding-top: 10rem;
  margin: 0 auto;
  width: 80%;
  max-width: 50rem;
}
