.Navbar {
  display: flex;
  position: relative;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
}

.Navbar__Title {
  font-size: 3rem;
  padding: 0 0.5rem;
}

.Navbar__Logo {
  height: 4rem;
}

@media (hover: none) {
  .Navbar {
    justify-content: center;
  }
}
