.new-item-container {
  display: flex;
  margin-bottom: 3rem;
  height: 5rem;
}

.new-item-input {
  width: 50rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: none;
  background-color: #ffffff;
  border-bottom: solid 2px #eeeeee;

  text-align: left;
  font-size: 2rem;
  font-weight: 500;
  height: 5rem;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 2rem;
}

.add {
  display: block;
  text-align: center;
  height: 5rem;
  width: 5rem;
  font-size: 3rem;
  border: none;

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  background-color: lightpink;
}
