.NewItem {
  display: flex;

  position: relative;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin: 5rem 0;
}

.NewItem--Warning {
  border: solid 3px lightcoral;
  animation: left 0.2s ease-in;
  transition: all ease 0.1s;
}

.NewItem--Warning .NewItem__Input {
  color: lightcoral;
  font-weight: bold;
}

.NewItem__Input {
  border-radius: 8px;
  width: 50rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: none;
  background-color: #ffffff;
  border: solid 2px #ffffff;
  border-bottom: solid 2px #eeeeee;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 100%;
  height: 5rem;
  padding-left: 2rem;
}

.NewItem__Input:focus-visible {
  outline: 0;
}

.NewItem__Input:focus,
.NewItem__Input:active {
  border: solid 2px steelblue;
}

.NewItem__Button {
  height: 5rem;
  text-align: center;
  color: grey;
  width: 6rem;
  font-size: 3rem;
  border: none;
  position: absolute;
  right: 0rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.NewItem__Button:hover {
  color: green;
}

@keyframes left {
  0% {
  }

  50% {
    transform: translateX(-6px);
  }

  100% {
    transform: translateX(6px);
  }
}

@keyframes right {
  0% {
  }

  50% {
    transform: translateX(6px);
  }

  100% {
    transform: translateX(-6px);
  }
}

.move-left {
  animation: left 0.2s ease-in;
  transition: all ease 0.1s;
}

.move-right {
  animation: right 0.2s ease-in;
  transition: all ease 0.1s;
}
